.flightsMostWanted {
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: space-between;
}
.flightsMostWanted_cards {
    width: 48%;
    height: 100%;
    display: flex;
    position: relative;
}
.flightsMostWanted-cards_title {
    width: 100%;
    position: absolute;
    top: -35px;
    display: flex;
    justify-content: center;
}
.flightsMostWanted-cards_title h2 {
    font-family: 'Inter';
    font-size: 25px;
    font-weight: 400;
    text-transform: capitalize;
}
.flightsMostWanted_cards_ {
    display: flex;
    position: relative;
}
.flightsMostWanted_data {
    width: 270px;
    height: 420px;
    margin: 0 15px;
    border-radius: 20px;
    position: relative;
}
.flightsMostWanted-data_backgroud {
    position: absolute;
    width: 100%;
    height: 410px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,.4) 0%, rgba(255,255,255,.1) 57%);
    top: 0;
    border-radius: 20px;
}
.flightsMostWanted_img {
    width: 270px;
    height: 410px;
    border-radius: 20px;
}
.flightsMostWanted_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.35);
}
.flightsMostWanted_title {
    position: absolute;
    bottom: 50px;
    display: flex;
    justify-content: center;
}
.flightsMostWanted_title h2 {
    font-family: 'Oswald';
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    width: 70%;
}
.flightsMostWanted_link {
    position: absolute;
    bottom: 40px;
    left: 25px;
}
.flightsMostWanted_link a {
    font-family: 'Inter';
    text-decoration: underline;
}
.flightsMostWanted_principalImg {
    width: 50%;
    height: 100%;
    position: relative;
    border-radius: 20px;
}
.flightsMostWanted-principalImg_img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.flightsMostWanted-principalImg_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.flightsMostWanted-principalImg_info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}
.principalImg-info_logo {
    width: 150px;
    height: 50px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.principalImg-info_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.principalImg-info_text {
    margin-left: 50px;
}
.principalImg-info_text h1 {
    font-family: 'Oswald';
    font-size: 55px;
    color: white;
    text-transform: uppercase;
    width: 480px;
    line-height: 65px;
}
.principalImg-info_text span {
    display: block;
    font-size: 90px;
    line-height: 80px;
}
@media screen and (max-width: 1800px) {
    .flightsMostWanted_cards_ {
        width: 120vw !important;
    }
}
@media screen and (max-width: 1400px) {
    .flightsMostWanted_cards_ {
        width: 150vw !important;
    }
}
@media screen and (max-width: 1200px) {
    .flightsMostWanted_cards_ {
        width: 170vw !important;
    }
}
@media screen and (max-width: 1100px) {
    .principalImg-info_text {
        margin-left: 0px;
    }
    .principalImg-info_text h1 {
        font-size: 45px;
        width: 100%;
        line-height: 50px;
    }
    .principalImg-info_text span {
        font-size: 70px;
        line-height: 60px;
    }
}
@media screen and (max-width: 890px) {
    .flightsMostWanted_cards_ {
        width: 240vw !important;
    }
}
@media screen and (max-width: 700px) {
    .flightsMostWanted {
        width: 100%;
        height: 700px;
        flex-direction: column;
        flex-flow: column-reverse;
        align-items: center;
    }
    .flightsMostWanted_principalImg {
        width: 100%;
        height: 35%;
        display: flex;
        justify-content: center;
    }
    .flightsMostWanted_cards {
        width: 100%;
        height: 61%;
    }
    .flightsMostWanted-cards_title {
        display: none;
    }
    .flightsMostWanted-principalImg_info {
        width: 90%;
    }
    .flightsMostWanted_cards_ {
        width: 300vw !important;
    }
}
@media screen and (max-width: 500px) {
    .principalImg-info_logo {
        width: 110px;
        height: 40px;
    }
    .flightsMostWanted_cards_ {
        width: 400vw !important;
    }
}