.tourDeatilPriceTimes {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.tourDeatilPriceTimes_ {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #0042745c;
}
.tourDeatilPriceTimes_time {
    display: flex;
    align-items: center;
}
.tourDeatilPriceTimes_time p {
    margin-left: 10px;
    font-family: 'Inter';
}
.tourDeatilPriceTimes_price p {
    font-family: 'Inter';
    font-weight: 600;
    color: #63687a;
}

.tourDeatilPriceTimes:hover {
    background-color: rgba(0, 66, 116, .1);
    transition: all 0.3s ease-out;
    border-radius: 15px;
}