.flightsHeader {
    width: 100%;
    height: 700px;
    position: relative;
}
.flightsHeader_img {
    width: 100%;
    height: 100%;
}
.flightsHeader_img img {
    width: 100%;   
    height: 100%;
    object-fit: cover;
}
.flightsHeader_info {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.flightsHeader-info_flight {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flightsHeader-info-flight_content {
    width: 630px;
    height: 353px;
    background-color: #004274;
    border-radius: 20px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
}
.flightsHeader-info_text {
    width: 50%;
}
.flightsHeader-info-text_content {
    width: 600px;
    margin: 0 auto;
    text-align: right;
}
.flightsHeader_logo {
    width: 150px;
    height: 60px;
    border-radius: 20px;
    box-shadow: inset 2px 4px 3px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 5px 20px;
}
.flightsHeader_logo h3 {
    font-family: 'Oswald';
    font-size: 25px;
    text-transform: uppercase;
    color: white;
    margin: 0 5px;
}
.flight_sites, .flight_dates {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flight_sites_ {
    width: 94%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: relative;
}
.flight_site {
    width: 170px;
    height: 100px;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35) !important;
    border-radius: 20px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.flight_site h2 {
    font-family: 'Oswald';
    font-size: 30px;
    text-transform: uppercase;
    color: #004274;
    width: 90%;
    margin-bottom: -5px;
}
.flight_site p, .flight_passengers p {
    font-family: 'Inter';
    font-size: 16px;
    color: #004274;
    width: 90%;
    text-transform: capitalize;
}
.flight-sites_airplane {
    transform: rotate(90deg);
}
.flight_passengers {
    width: 190px;
    height: 100px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.flight_passengers h2 {
    font-family: 'Oswald';
    font-size: 28px;
    text-transform: uppercase;
    color: #004274;
    width: 90%;
    margin-bottom: -5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flight_selectContainer {
    width: 90%;
}
.flight_select {
    display: flex;
}
.flight_select_ {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.flight_select_ p {
    font-family: 'Inter';
    font-size: 16px;
    color: white;
    margin: 0 75px 0 10px;
}
.flight_dates {
    width: 100%;
}
.flight_dates_ {
    width: 94%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flight_date {
    width: 200px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35) !important;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* selected flight_dateNone */
.flight_dateNone {
    width: 200px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: inset 2px 4px 3px 2px rgba(0, 0, 0, 0.25);
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .3;
}

.flight_date h2, .flight_dateNone h2 {
    font-family: 'Oswald';
    font-size: 28px;
    text-transform: uppercase;
    color: #004274;
    width: 55%;
    line-height: 28px;
}
.flight_searcher {
    width: 140px;
    height: 90px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
}
.flightsHeader-info-text_content h1 {
    font-family: 'Oswald';
    font-size: 120px;
    text-transform: uppercase;
    color: white;
}
.flightsHeader-info-text_content p {
    font-family: 'Inter';
    color: white;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 200;
}


.flight_loadingCitiesOrigin, .flight_loadingCitiesDestinity {
    width: 170px;
    height: 100px;
    max-height: 390px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35) !important;
}



.flight_searchCitiesOrigin, .flight_searchCitiesDestinity {
    width: 350px;
    max-height: 390px;
    border-radius: 20px;
    background-color: white;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35) !important;
}
.flight_searchCitiesDestinity {
    left: 220px;
}

@media screen and (max-width: 1200px) {
    .flightsHeader-info_flight {
        width: 60%;
    }
    .flightsHeader-info-text_content {
        width: 90%;
    }
    .flightsHeader-info-text_content h1 {
        font-size: 120px;
    }
    .flightsHeader-info-text_content p {
        font-size: 40px;
    }
}
@media screen and (max-width: 1100px) {
    .flightsHeader-info_flight {
        width: 100%;
    }
    .flightsHeader-info_text {
        display: none;
    }
    .flightsHeader-info-flight_content {
        width: 80%;
        height: 370px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flightsHeader_logo {
        width: 90%;
        margin: 20px 0 10px 0;
    }
    .flight_sites {
        width: 90%;
    }
    .flight_sites_ {
        width: 100%;
    }
    .flight_site {
        width: 200px;
    }
    .flight_passengers {
        width: 250px;
    }
    .flight_select {
        width: 60%;
        justify-content: space-between;
    }
    .flight_select_ {
        margin-left: 0;
    }
    .flight_dates {
        width: 90%;
    }
    .flight_dates_ {
        width: 100%;
    }
    .flight_date {
        width: 240px;
    }
    .flight_searcher {
        width: 190px;
    }
    .flight_dateNone {
        width: 240px;
    }
}
@media screen and (max-width: 900px) {
    .flightsHeader-info-flight_content {
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .flight_site {
        width: 160px;
    }
    .flight_passengers {
        width: 180px;
    }
    .flight_select {
        width: 70%;
    }
    .flight_date {
        width: 180px;
    }
    .flight_searcher {
        width: 120px;
    }
    .flight_dateNone {
        width: 180px;
    }
}
@media screen and (max-width: 600px) {
    .flightsHeader {
        height: 800px;
    }
    .flightsHeader-info_flight {
        margin-top: -50px;
    }
    .flightsHeader-info-flight_content {
        height: 560px;
    }
    .flight_sites_, .flight_dates_ {
        flex-wrap: wrap;
    }
    .flight_site {
        width: 160px;
    }
    .flight_passengers {
        width: 100%;
    }
    .flight_select {
        width: 100%;
    }
    .flight_select_ {
        margin-top: 10px;
    }
    .flight_select_ p {
        margin: 0 50px 0 10px;
    }
    .flight_searcher {
        width: 100%;
    }
    .flight_searchCitiesDestinity {
        left: 150px;
    }
}
@media screen and (max-width: 500px) {
    .flight_searchCitiesDestinity {
        left: 40px;
    }
}

@media screen and (max-width: 400px) {

    .flight_date {
        width: 170px;
        height: 90px;
        
    }
    .flight_site {
        width: 169px;
        height: 90px;
        margin: 10px 0px;
        
    }
    .flight_passengers {
        width: 340px;
        height: 90px;
       
    }
    .flight_searcher {
        width: 100%;
        height: 90px;
       
    }
    .flight_sites_{
        display: grid;
        grid-template-columns: 40% 10% 40%;
        justify-content: center;
    }
}

@media screen and (max-width: 380px) {

    .flight_date {
        width: 150px;
        height: 90px;
        
    }
    .flight_site {
        width: 150px;
        height: 90px;
        margin: 10px 0px;
        
    }
    .flight_passengers {
        width: 300px;
        height: 90px;
       
    }
    .flight_searcher {
        width: 100%;
        height: 90px;
       
    }
    .flight_sites_{
        display: grid;
        grid-template-columns: 40% 10% 40%;
        justify-content: center;
    }
}